
@media screen and (max-width:1280px){

/* loader */
img.imgLoader{width: 90px;}

.container {
    padding-right: 85px;
    padding-left: 85px;
}

/*airmouse*/
#upArrow, #downArrow, #rightArrow, #leftArrow{width:60px;height:60px;background-size: 60px auto;}
#leftArrow{left:30px;}
#rightArrow{right:30px;}
#downArrow{bottom:50px;}
#upArrow{top:50px;}
#backArrow{background-size: 260px auto; width: 265px; height: 78px;right: 85px;bottom: 15px;;}

/* search */
.search-bar{ padding: 15px 50px 15px 50px;    height: 110px; }
.search-bar .searchArea{width: 100px;}
.search-bar .logo img{width: 100px;}
.search-bar .menus-list{ padding-bottom:20px;}
.search-bar .menus-list .menus-list-item{ margin-right:15px;    min-width: 100px; }
.search-bar .menuImg{     font-size: 22px; padding: 17px 8px 8px 8px; }
.search-bar .btn-search{width: 110px;}
.search-bar .btn-search .searchImg{margin-top:0px;}
.btn-search .searchImg  .img-default {height: 60px;margin-top: 10px;}
.btn-search .searchImg  .img-focus {height: 70px; }

/*banner*/
 #BannersHome {padding-bottom: 30px;}
.bannerImage{     width: 1150px;     min-height: 500px;    max-height: 500px; }
.slick-active img.imageFocus, .slick-active img.mouseFocus { border:4px solid #ffffff; }
.slick-initialized .slick-slide {  margin: 0px 8px; }


/*title*/
.title-header{ height:80px;}
.title-header h1{ font-size:40px;}

/*section*/
.section-heading {font-size: 24px;font-weight: 500; }
.section-card{ margin-bottom:20px;}

.progress {height: 6px;}

/*cards*/
.show-name{ min-height:28px; }
.section-card .sheet_poster { margin-right :20px; }
.section-card .sheet_poster .shows-image{ width:260px; height:146px;}
.section-card .sheet_poster .shows-content { width:260px; height:70px;border-radius:0px 0px 6px 6px; padding:7px 16px; }
.section-card .sheet_poster .shows-image .brMarker{ right:7px; bottom:7px; font-size:18px; padding:4px 7px;}
.section-card .sheet_poster .shows-image img{ border-radius:8px 8px 0px 0px; }
.section-card .sheet_poster .shows-content .show-name { font-size:20px; margin-bottom: 2px;}
.section-card .sheet_poster .shows-content .subTitle{ font-size:18px;}
.section-card .sheet_poster.view_all .shows-content { padding: 18px 0px; }
.section-card .sheet_poster.view_all .shows-content .show-name { font-size: 24px;}
.section-card .sheet_poster .outline-border { width:262px; height:216px; left:0; border-radius:8px; }
.section-card .sheet_poster.imageFocus .outline-border, .section-card .sheet_poster.mouseFocus .outline-border { border:3px solid #ffffff; width:262px; height:216px; }

/*sarch cards*/
.section-card .search-card { margin-left: 14px;  margin-right: 13px;height: 160px; }
.section-card .search-card .shows-image{ width:270px; height:155px;}
.section-card .search-card .shows-content { width:270px;}
.section-card .search-card .shows-image .brMarker{ right:7px; top:7px; font-size:18px; padding:4px 7px;}
.section-card .search-card .shows-content .show-name { font-size:20px; margin-bottom: 2px;}
.section-card .search-card .shows-content .subTitle{ font-size:18px;}
.section-card .search-card .outline-border { width:270px; height:155px; left:0; }
.section-card .search-card.imageFocus .outline-border, .section-card .search-card.mouseFocus .outline-border { border:3px solid #ffffff; width:270px; height:155px; }
.section-card .search-card .ellipsis{width:270px}

/*rollar poster in Sections */
.section-card .roller_poster { margin-right :15px;  position:relative; height: 260px; }
.section-card .roller_poster .shows-image{ height: 240px; width:170px; position:relative; }
.section-card .roller_poster .shows-content { width:170px; padding:7px 4px; height: 30px;  }
.section-card .roller_poster.view_all .shows-content { text-align: center; padding: 7px 0px; }
.section-card .roller_poster.view_all .shows-content .view-all-arrow{ position: relative; top:3px;}
.section-card .roller_poster.view_all .shows-content .show-name { font-size: 22px; margin: 0;bottom: 41%; }
.section-card .roller_poster .shows-content .show-name { font-size:20px;margin-bottom: 0px;}
.section-card .roller_poster .ellipsis{width:170px;}
.section-card .roller_poster .shows-content .subTitle{ font-size:18px}
.section-card .roller_poster .outline-border { width:170px; height:240px;z-index: 1; }
.section-card .roller_poster.imageFocus .outline-border,  .section-card .roller_poster.mouseFocus .outline-border { border:4px solid #ffffff; width:170px; height:240px;  }
 

/* overlay postre*/
.section-card .overlay_poster {     margin-right: 10px;  margin-left: 5px;     height: 170px; }
.section-card .overlay_poster .shows-image{ width:270px; height:155px;}
.section-card .overlay_poster .shows-image .brMarker{ right:7px; top:7px; font-size:18px; padding:4px 7px;}
.section-card .overlay_poster .shows-content{width:270px}
.section-card .overlay_poster .shows-content .show-name { font-size:20px; margin-bottom: 2px;}
.section-card .overlay_poster .shows-content .subTitle{ font-size:18px;}
.section-card .overlay_poster.view_all .shows-content .view-all-arrow{ position: relative; top:4px;}
.section-card .overlay_poster.view_all .shows-content .show-name { font-size: 22px;    bottom: 33%;}
.section-card .overlay_poster .outline-border { width:270px; height:155px; left:0;  }
.section-card .overlay_poster.imageFocus .outline-border, .section-card .overlay_poster.mouseFocus .outline-border { border:3px solid #ffffff; width:270px; height:155px; }
.section-card .overlay_poster .ellipsis{width:270px}

/* player card */
.section-card .player-card{height: 180px;}
.section-card .player-card .shows-image{width: 205px;height: 140px;}
.section-card .player-card .shows-content{width: 205px}
.section-card .player-card .shows-content .show-name{font-size: 20px}
.section-card .player-card .outline-border{width: 205px;height: 140px;}
.section-card .player-card.imageFocus .outline-border, .section-card .overlay_poster.mouseFocus .outline-border{width:205px;height: 140px;}

/*view all cards*/
.sectionsGrid .title-header{margin-top:30px;}
.sectionsGrid .title-header h1{ font-size:38px;}
.sectionsGrid .title-header img{width: 110px;height: 70px;}
.sectionsGrid .viewall_row { margin-bottom: 25px;}
.sectionsGrid .viewall_row .section-card .roller_poster{ margin-left: 10px; margin-right: 10px; margin-bottom: 0px; }
.sectionsGrid .viewall_row .section-card .overlay_poster{ margin-left:8px; margin-right:7px;height: 160px; }
.sectionsGrid .viewall_row .section-card .sheet_poster { margin-left:8px; margin-right:8px; }



/*partners page*/
.partner-details #partnersTitle{ height:90px;}
.partner-details .partner_header{ height:80px;}
.partner-details .partner_header .leftPanel{ margin-top:15px;}
.partner-details .partner_header .leftPanel h3{ font-size:40px;}

/*popups*/
.popupDiv .overlay-screen{ width:650px;padding: 20px 20px;}
.popupDiv .popup-subhead{ font-size:30px;}
.popupDiv .popup-btn-wrap {    padding: 10px 0;}
.popupDiv .popup-Title { min-height: 90px; }
.popupDiv .overlay-screen.sessionLimit { height: auto;  top: 22%; width: 800px;}

/* accounts page*/
.top-nav{ height:80px;}
.top-nav ul li span{line-height: 80px; padding:0 40px; font-size:28px;}
.no-sidebar .account-page{ padding:0; margin:80px 0 0 0;}
.device-details{ width:800px; padding:10px;}
.deviceInfo { padding: 60px 30px;}
.deviceInfo .main-heading { font-size: 26px;}
#accountContent td{font-size:20px;padding:15px;}
#accountContent .grey-btn, .signOutPage .grey-btn{ height: 60px; line-height: 60px; min-width: 250px; font-size: 30px;}
#MyAccountContent div.grey-btn {min-width: 280px;width: 280px;height: 50px;line-height: 50px;font-size: 22px;}


/*faq*/
#faq_html, #contact_us_html { margin-top:100px;}
#faq_html .about-h1, #contact_us_html .about-h1{ font-size:22px; margin-bottom: 4px; }
#faq_html  p{ font-size:18px;}
#contact_us_html .ott-about-section h3 {  font-size: 22px; }
#contact_us_html p { font-size: 18px; } 

/* languages */
#lang_html .langPreData {margin-top: 0px;}
#lang_html .langPreData .langTitle {font-size: 24px;margin-bottom: 5px;}
#lang_html .langPreData .langSubTitle {font-size: 20px;margin-bottom: 15px;}
#lang_html .langList .langItem { width: 197px; font-size: 20px; padding: 10px 10px 10px 20px; height: 55px; margin: 10px;}
#lang_html .langList .langItem img {width: 35px;}
#lang_html .update-button {bottom: 45px;left: 40%;}
#lang_html .update-button button {min-width: 200px;  height: 60px;  line-height: 60px;  font-size: 24px;}

/*signin page*/
#signInContent .container{ padding:0 60px;}
#signInContent #headSignIn{ min-height:90px; margin-top:20px;}
#signInContent #headSignIn .headerLogo{top: 20px; right: 60px;}
#signInContent #headSignIn .headerLogo img{ height:70px;}
#signInContent #headSignIn .signHead{ font-size: 36px;  line-height: 80px; padding-top:10px;}
#signInContent #formLayout{ padding-left:50px;}
#keyLayout #headingText{ margin-top:0px;font-size:22px; }
#keyLayout .keyboardCont{ width:100%; padding: 10px   10px 20px;}
#keyLayout .keyboardCont.emailkeys{padding: 10px 10px 20px 10px}
#keyLayout .keyboardKeys { height: 50px; line-height: 50px; font-size: 26px; }
#keyLayout .emailkeys .sp-keys, #keyLayout .emailkeys .at-keys, #keyLayout .emailkeys .at-keys, #keyLayout .emailkeys .dot-keys, .at-keys, #keyLayout .emailkeys .com-keys, #keyLayout .emailkeys .backBtn{height: 50px;line-height: 50px;}
#keyLayout .emailkeys .email-keys{height: 50px;line-height: 50px;font-size: 22px;}
#keyLayout .keyboardKeys.backButton span{ margin:7px auto 8px auto;}
#keyLayout .keyboardBlock{ margin-bottom:15px;}
#signInContent .keyboardFooter { margin: 10px -15px 0;}
#signInContent .country-mobile { margin: 0 0 10px 0;}
#signInContent .btn-default{ height:60px; line-height: 60px; padding:0 35px; font-size:26px;}
#signInContent .mobile_number_from{ width: calc(100% - 160px);}
#signInContent .countryCode{ width: 140px; margin-right: 20px;     height: 60px; top: 3px;}
#signInContent .inside_countryCode { padding: 14px;}
#signInContent .keyboardFooter .actionKey{     font-size: 22px; line-height: 60px;  height: 60px;  width: calc(50% - 30px);}
#keyLayout .genkeys .caplock-icon-pos { margin: 10px auto 0px auto;}
#keyLayout .keyboardKeys.sp-keys, #keyLayout .keyboardKeys.backBtn { width: 104px;}
#keyLayout .keyboardKeys.spaceBar { width: 320px;}
#keyLayout .keyboardKeys.backBtn span{ margin: 6px auto 25px auto;}
#keyLayout .genkeys{ width:50px; height:50px; line-height: 50px;}
#keyLayout .keyboardKeys.spaceBar span{ margin-top:18px;}
#signInContent .authlabel{    font-size: 22px; margin-bottom: 8px;}
#signInContent .inputForm{ padding:9px 15px; height: 60px;}
#signInContent .error-block .errorInput { font-size: 18px; }
#formLayout .row.mt45 { margin-top: 15px;}
#signInContent .signInCountryCode { top:8px;}
#signInContent .control{padding-left: 60px;    font-size: 22px; }
#signInContent .control__indicator{width: 45px;  height: 45px;    top: 9px;}
#signInContent .control__indicator.checked span{left: 12px; top: 4px; height: 25px; }


/* keyborad arrow pointer */
#keyLayout .keyboardCont .arrow-right-email{top:46px;right:-24px;}
#keyLayout .keyboardCont .arrow-right-password{ top:184px;right:-24px}


/*search results*/
.search-page .container{ padding:0 60px;}
.search-page .title-header img{ width: 104px; height: 60px; margin-top: -20px;}
.search-page .search-wrap .form-control{  width: 800px;    margin: 30px auto -20px;     font-size: 24px;    height: 55px;    padding: 10px;}
.search-page .search-wrap .form-group { height: 65px; margin: -20px auto 0px; position: relative; max-width: 100%; }
.search-page .searchSuggestions{ height:15px;}
.search-page .search-key-container{height: 60px;}
.search-page .search-key-container:last-child{margin: 0 auto 0;}
.search-page .search-keys.search-50{ width: 40px; height: 40px; line-height: 40px; font-size: 23px;}
.search-page .search-keys.search-50.imageFocus{line-height: 40px;}
.search-page .search-keys.search-118, .search-page .search-keys.search-310{ height:40px; line-height: 40px;}
.search-page .search-keys .search-spacebar{ margin:15px auto 0;}
.search-page .search-keys .search-backicon{ margin:7px auto 0;}
.search-page .search-keys{ font-size:20px; margin:2px;}
.search-page .searchSuggestions .suggestionList .suggestionItem{ height: 43px; line-height: 40px;    padding: 0 12px;  font-size: 24px;}
.search-page .search-wrap .form-group .search-icon{ top: 15px;    right: 200px;    width: 24px;  height: 24px;}
.search-page .resultsCount{ margin-bottom:10px; font-size: 28px;}
.search-page .searchBtn-Tabs{margin: 20px 0px;}
.search-page .searchBtn-Tabs .grey-btn{    padding: 10px 20px; font-size: 24px;height: 50px; min-width: 180px;}


/* movie details page*/
.detailsContainer{ height:375px;padding-left: 76px;}
.detailsContainer .detainlsInfo { margin: 45px 0 20px;}
.detainlsInfo h1{ font-size:40px;}
.detainlsInfoInner {width: 700px;}
.detainlsInfo ul.markers li{font-size: 18px;}
.detainlsInfo ul.markers li.description{margin-top: 15px;line-height: 32px;}
.movieDetails .detailsContainer.isCast{height: 500px;}
.detainlsInfo ul.markers li.button{width: 190px;height: 55px;line-height: 55px;margin-top: 20px;padding: 0px 30px;font-weight: 600; min-width: 190px;}
.detainlsInfo ul.markers li.button.fav{width:282px}
.detainlsInfo ul.markers .fav-icon{top:16px;width: 100px;}
.detainlsInfo ul.markers li.fav .addTowatch{ background: url(../images/addToWatch.png) no-repeat;background-size: 70px;}
.detainlsInfo ul.markers li.fav.imageFocus .addTowatch, .detainlsInfo ul.markers li.fav.mouseFocus .addTowatch{background: url(../images/addToWatchFocus.png) no-repeat;background-size: 70px;}
.detainlsInfo ul.markers li.fav .removeWatch{background:url(../images/removeWatchList.png) no-repeat;background-size: 70px;}
.detainlsInfo ul.markers li.fav.imageFocus .removeWatch,.detainlsInfo ul.markers li.fav.mouseFocus .removeWatch{background: url(../images/removeWatchListFocus.png) no-repeat;background-size: 70px;}
.detainlsInfo .castCrew {font-size: 28px;}
.detainlsInfo .castCrew li{    padding: 0 33px;width: 250px;height: 90px;}
.detainlsInfo .castCrew .mainTitle{    font-size: 22px;}
.detainlsInfo .castCrew .subTitle {font-size: 20px;}
.detailsPage_bottom_gradient{ height: 50px; background: linear-gradient(to bottom, rgba(15, 15, 28, 0), rgba(15, 15, 28, 0.55) 40%, #0f0f1c); }

 /* Tvshow details page */
 .tvShowDetails .suggestions { height: 60px;margin-bottom: 22px;}
 .tvShowDetails .suggestions ul li { line-height: 60px; font-size: 24px;}

 /* New Tv details page */
 .detailsContainerNew{margin-top: 40px;padding-left: 45px;margin-bottom: 20px;}
 .detailsContainerNew .detailsleftImg{width: 450px;}
 .detailsContainerNew .detainlsInfo{width: calc(100% - 480px);}

/*country selection*/
.countrySelection .country-code-page{ margin:30px 300px;}
.countrySelection .sign-head{ font-size:32px; margin-top:30px;}
.countrySelection .country-normal{ height:60px; line-height:60px;font-size: 24px;}

/*account */
.sidebar { width: 250px;}
.sidebar ul {margin: 0px;}
.sidebar ul li span { padding: 20px 10px 20px 10px;font-size: 22px;}
.sidebar ul li.active span{font-size: 22px;}
.signout-bar{position: absolute;bottom: 130px; text-align: center; }
#accountContent .signout-btn.grey-btn{min-width: 170px;width: 170px;font-size: 20px;height: 50px;line-height: 50px;}
.account-page {font-size: 22px;padding: 48px 80px 0 330px;}
.fieldset{font-size: 20px}
.fieldset .AccountTitle{font-size: 22px}
.fieldset .form-group{padding: 15px 15px 20px 30px;}
#MyAccountContent table.table.active-packages td {font-size: 18px;padding: 8px;}
#MyAccountContent table.table.active-packages > thead > tr > th {padding: 10px 8px;font-size: 22px;}



/*player*/
.player-bg .browseText{font-size: 20px}
.player-bg .vod-title{bottom: 20%;}
.player-bg .vod-title .vodname {font-size: 35px;}
.player-bg .vod-title .vodInfo{font-size: 20px}
.player-bg .play-but{top: 40%;left:44%;background-size: 150px 150px;}
.player-bg .seekbar{bottom: 17%;    height: 7px;}
.player-bg .seek-picker-time.seek-picker-start { left: -9%; font-size: 20px;top:-12px }
.player-bg .seek-picker-time.seek-picker-end {right: -9%;font-size: 20px;top:-12px}
.player-bg .seek-picker-time {height: 10px;}
.player-bg .playPauseIcon{    bottom: 35%;width: 50px; height: 58px;}
.player-bg .playSugestions { bottom: -70px; }
.player-bg .playSugestions.visible { height: 415px;}
.player-bg .seek-picker{ width: 30px; height: 30px;bottom: -10px;}
.player-bg .playerButtons #playPauseIcon{background-size: 18px 25px;}
.player-bg .playerButtons #favIcon.remFav{background-size: 30px 32px;}
.player-bg .playerButtons .playPauseIcon.playstartbtn, .player-bg .playerButtons .playPauseIcon.playnextbtn{min-width: 140px;font-size: 20px;width:140px;height: 45px;left: 3%;bottom: 35px;}
.player-bg .playerButtons #favIcon.addedFav{background-size: 30px 32px;}
.player-bg .playerButtons .start_over_icon{top: 4px;width: 25px;}
.player-bg .playerButtons #favText{right: -4%;font-size: 20px;}
.player-bg .browseText.downArrow{top:30%}

/*unique page */
.uniquePage {margin-top: 80px;}
#myLibrary img{width:450px}
#myLibrary .main-heading{font-size: 26px;margin-bottom: 0px;line-height: 0px}
#myLibrary .main-heading span { font-size: 22px; }
#myLibrary .grey-btn{ min-width: 250px;font-size: 28px;height: 60px;line-height: 60px;}

#noPackage .container {padding-right: 70px; padding-left: 70px;}
#noPackage .main-heading{padding-top: 100px;font-size: 40px;}
#noPackage .sub-heading{font-size: 23px;}
#noPackage .leftCon{width: 50%;padding-left: 0px;}
#noPackage .subCon{font-size: 18px;}
#noPackage .grey-btn{min-width: 220px;font-size: 24px;padding:0px;height: 60px;line-height: 60px;}
#noPackage img{width:400px}
#noPackage .warning{margin-top: -20px;}

/*intro page */
#introPage .container {margin-top:0px;     width: 70%;}
#introPage .container img {   width: 160px;  height: 100px; }
#introPage .container .main-heading { padding-top: 40px;    font-size: 32px;    line-height: 28px;}
#introPage .container .subtitle { padding-bottom: 70px;    font-size: 24px; line-height: 28px;}
#introPage .grey-btn {     min-width: 350px;     font-weight: 500;    font-size: 22px;    height: 60px;  line-height: 60px; padding: 0px; }


}





